h2{
    font-weight:600;
    text-align: center;
    font-size: 40px;
    
    background-image: linear-gradient( to right ,rgb(99, 0, 99) ,rgb(246, 67, 97));
    -webkit-background-clip: text;

    background-clip: text;
    color: transparent;
}
input{
    height: 50px;
    margin-top: 10px;
   
}
#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
#myUL li a {
    margin-top: -1px; /* Prevent double borders */
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    display: block
}

.mySlides {
    display:none;
}
.w3-left, .w3-right{
    color: transparent;
}
.w3-badge {cursor:pointer}
.w3-badge {height:26px;width:26px; margin-bottom: 64px; margin-left: 3px;margin-right: 3px;}

button{
    float: left;
    width: 3.5%;
    padding: 0px;
    height: 50px;
    margin-top: 10px;
    margin-right: 80px;
    font-size: 18px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    background-color: rgb(12, 12, 104) ;
  }

.card{
    border: 0px;
    margin: 60px;
}
.img{
    border: 1px;
    border-radius: 10%;
    padding: 10px;
    box-shadow: 1px 1px 9px #000000;
}
 
.product{
    display: list-item;    
}



